* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Variables */
:root {
  --default-background: linear-gradient(black 50%, #111);
  --default-text-color: #f2f2f2;
  --easy-background: #32cd32;
  --normal-background: #12ffff;
  --hard-background: #ffa500;
  --impossible-background: #ff0044;
}
/* Preloader */
#preLoader {
  background: var(--default-background);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
}
.preloader-hidden {
  opacity: 0;
}
/* Main */
main {
  height: 100vh;
  background: var(--default-background);
  color: var(--default-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:100px;
}
/* main logo */
.main__logo {
  animation: appear 1s forwards;
  opacity: 0;
  animation-delay: 1.3s;

}
/* ======== difficulty level ======== */
/* Difficulty level container */
.difficultyLevel__container {
  text-align: center;
  z-index: 10000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.difficultyLevel__text {
  opacity: 0;
  transform: scale(0);
  animation: appearText 1s forwards ;
  animation-delay: 1.3s;
  text-align: center;
  margin-top: 50px;
}
.difficultyLevel__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Removing black border from buttons */
button
,button:active
,button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.difficultyLevel__button {
  width: 170px;
  height: 60px;
  font-size: 2rem;
  background: transparent;
  color: var(--default-text-color);
  opacity: 0;
  animation: appearButton 1s forwards ;
  transition: 0.5s;
  pointer-events: none;
}
.difficultyLevel__button:hover{
    text-shadow: 10px 10px 10px currentColor;
}
.button-easy {
  animation-delay: 1.5s;
}
.button-easy:hover{
  color: var(--easy-background);
}
.button-normal {
  animation-delay: 1.7s;
}
.button-normal:hover{
  color: var(--normal-background);
}
.button-hard {
  animation-delay: 1.9s;
}
.button-hard:hover{
  color: var(--hard-background);
}
.button-impossible {
  animation-delay: 2.1s;
}
.button-impossible:hover {
  color: var(--impossible-background);
}
/* ======== difficulty level end ======== */
/* ========  difficulty level Backgrounds ======== */
.background-easy {
  background: linear-gradient(var(--easy-background), black 40%);
}
.background-normal {
  background: linear-gradient(var(--normal-background), black 40%);
}
.background-hard {
  background: linear-gradient(var(--hard-background), black 40%);
}
.background-impossible {
  background: linear-gradient(var(--impossible-background), black 40%);
}
.difficulty__level--disappear{
  animation: disappear .5s forwards;
}
/* Animations */
@keyframes appearText {
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-50px);
  }
}
@keyframes appear {
  80% {
    opacity: 0;
    transform: scale(1);
    transform: scale(1) translateY(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-40px);
    display: none;
  }
}
@keyframes appearButton {
    80% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
    pointer-events: all;
  }
}
/* Disappearing the difficulty level section */
@keyframes disappear {
90% {
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes appear-game-container {
to {
  opacity: 1;
}
}
/* Media queries */
@media only screen and (max-height: 520px) {
  .main__logo {
    width: 400px;
    height: 400px;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    position: absolute;
    bottom: 0;
  }
  html {
    overflow-y: hidden;
    overflow-x:hidden;
  }
  @keyframes appear {
  80% {
    opacity: 0;
    transform: scale(1);
    transform: scale(1) translateY(100px);
  }
  100% {
    opacity: .4;
    transform: scale(1) translateY(-40px);
  }
}
}
/*============ Game section ============ */
.game-container {
  opacity: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 30px;
  min-height: 100vh;
  text-align: center;
  position: absolute;
}
.player-buttons {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.player-button {
  opacity: 0;
  display: grid;
  place-items: center;
  padding: 30px;
  transition: .5s;
  animation: .5s appearButton forwards;
}
.player-button:hover {
  transform: translateY(-5px);
}
.player-button img:hover {
  filter: drop-shadow(0px 2px 10px currentColor);
}
.computer-choice {
  transform: rotate(180deg);
}
/* rock animation */
.player-button-rock {
  animation-delay: 1s;
}
.player-button-paper {
  animation-delay: 1.5s;
}
.player-button-scissor {
  animation-delay: 2s;
}
/* Game round winner container */
.game-round-winner-container {
  line-height:40px;
  padding: 1px;
}
.scores {
  font-size: 30px;
}
.player-choice, .computer-choice {
  height: 180px;
}